.use-package-store
error.txt
libraries/
up-repos/
!plugins/
plugins/*
!plugins/emacs/
!plugins/rgsearch/
!plugins/isearch/
!plugins/bufferex/
!plugins/killring/
!plugins/shared/
!plugins/avy/
!plugins/whichkey/
!plugins/fd-files/
!plugins/use_package/
!plugins/treesit/
session.lua
storage/
