.miq-store
error.txt
libraries/
miq-repos/
!plugins/
plugins/*
!plugins/emacs/
!plugins/rgsearch/
!plugins/isearch/
!plugins/bufferex/
!plugins/killring/
!plugins/shared/
!plugins/avy/
session.lua
storage/
